/* 안녕.css */

#wrap{
    width:1490px;
    height:1000px;
    box-sizing: border-box;
    margin:0;
    padding:0;
    
    
}
#파파고{
    padding:0;



}


.머리{ 
    position: relative;
    left:30px;

}


.웹문사{
    position: absolute;
    bottom:0;
    padding-left: 100px;
    
    


}
#몸통{
    border-top:1px solid #a09ea3;
    position:relative;

    
}
.box1{
    position: absolute;
    width:600px;
    height:320px;
    border:1px solid #59f570;
    border-radius:10px;
    top:70px;
    left:120px;
}
.box2{
    position: absolute;
    width:600px;
    height:320px;
    border:1px  solid #a09ea3;
    border-radius:10px;
    top:70px;
    right:120px;
}
#윗글{
    height:50px;
    position: relative;
        top:10px;
        left:13px;
    text-align: left;
    
    
}
#중간글{
    height:200px;
    padding:10px 13px;
    font-size:30px;
    color:#a09ea3;  
    border:1px solid #a09ea3;

}
#끝말{
    height:50px;
    position: relative;
    

}
#번역{

    background-color: #5dd68a;
    float:right;
    width:120px;
    height:100%;
    color:aliceblue;
    text-align: center;


}


